.body {
    margin: 0;
    padding: 0;
}

.Outer {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.btn-primary {
    height: 27px;
    width: 25px;
}

.AIRcontainer {
    background-color: rgb(14, 14, 14, 0.85);
    width: 300px;
    height: 450px;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 450px;
}

.first-span{
    
    color: rgb(127, 8, 246) !important ;
    font-style: bold;
}

.item span{
    position: absolute;
    left: 115px;
}
.item{
    
    margin: 15px 0px 0px 50px;
    position: relative;
}
.Cl span
{
    margin-top: -2px;
    color: cyan;
}

@media only screen and (max-width: 769px)
{
    .AIRcontainer{
        height: 450px;
    }

}
