* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.alertmessage button {
    width: 20px;
    height: 20px;
    background-color: black;
    color: rgb(255, 255, 255);
}

.container {

    display: flex;
    gap: 0px;
    width: 800px;
    /* padding: px; */
}

.left-box {
    width: 60vw;
    height: 500px;
    color: whitesmoke;
    background: url("../../images/city.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;

}

.CurrentCity {
    position: absolute;
    right: 0;
}

.right-box {
    background-color: rgb(0, 0, 0, 0.6);
    height: 500px;
    width: 40vw;

}

.right-box button {
    background-color: black;
}

.desc {
    font-size: xx-large;
    color: aliceblue;
    text-align: center;
}

.custom {
    position: relative;
    top: 0px;
}

.custom .Search {
    border-radius: 10px;
    width: 200px;
}

.btn {
    display: inline;
    padding: 4px;
    position: absolute;
    right: 50px;
    top: 5px;
}


.display1,
.display2 {
    height: 200px;
}

.display2 {
    font-size: medium;
    font-weight: 500;
    color: white;
}

.display2 span {
    position: absolute;
    right: 55px;
}

hr {
    top: 15px;
    position: relative;
    background-color: aliceblue;
    width: 210px;
    opacity: 0.35;
    left: 47px;
}
.Cityname {
    left: 60px;
    position: relative;
    top: 5px;
}
.itemShow {
    margin: 5px 0px 0px 51px;
    position: relative;
}

.bottomClock {
    position: absolute;
    float: left;
    bottom: 0;
    text-align: left;

}

.bottomClock .current-time {
    font-size: xx-large;
}

.temperature {
    font-size: xx-large;
    position: absolute;
    bottom: 0;
    right: 0;
}


@media only screen and (max-width: 770px) {

    .container {

        display: flex;
        gap: 0px;
        width: 100%;
        flex-direction: row-reverse;
        margin: 5px auto;
        padding: 0;
    }

    .right-box,
    .left-box {
        width: 50%;
    }

    .custom .Search {
        border-radius: 8px;
        width: 150px;
    }

    .btn {
        display: inline;
        padding: 0px;
        position: absolute;
        left: 180px;
        top: 5px;
    }

    .left-box {
        background-image: none;
        background-color: rgb(0, 0, 0, 0.6);
    }


    .temperature {
        top: -5px;
    }

    .CurrentCity {
        top: 40px;
        position: absolute;
        right: 18px;
    }

    hr {
        display: none;
    }

    .bottomClock {
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: center;

    }

    .itemShow {
        margin: 20px 10px;
    }
    .itemShow span{
        position: absolute;
        left: 155px;
    }
    .display1 {
        height: 150px;
    }

    .display2 {
        height: 350px;
        margin-left: 25px;
    }

    .custom {
        left: -20px;
    }
}